<main>
    <section class="wrapper">
        <div class="container-fluid">
            <div class="col-12">
                <div class="home">
                    <div class="left">
                        <div class="element-box hoverBox" id="hoverBox">
                            <span><img src="../assets/images/water.png" class="img-fluid" alt=""></span>
                            <span class="symbol water"><img src="../assets/images/water - Symbol.png" class="img-fluid"
                                    alt="">
                                <div class="element-name">water</div>
                            </span>
                        </div>
                        <div class="element-box hoverBox" id="hoverBox">
                            <span><img src="../assets/images/fire.png" class="img-fluid" alt=""></span>
                            <span class="symbol fire"><img src="../assets/images/fire - Symbol.png" class="img-fluid"
                                    alt="">
                                <div class="element-name">fire</div>
                            </span>
                        </div>
                    </div>
                    <div class="right">
                        <div class="element-box hoverBox" id="hoverBox">
                            <span class="symbol earth"><img src="../assets/images/earth - Symbol.png" class="img-fluid"
                                    alt="">
                                <div class="element-name">earth</div>
                            </span>
                            <span><img src="../assets/images/earth.png" class="img-fluid" alt=""></span>
                        </div>
                        <div class="element-box hoverBox" id="hoverBox">
                            <span class="symbol air"><img src="../assets/images/Air - Symbol.png" class="img-fluid"
                                    alt="">
                                <div class="element-name">air</div>
                            </span>
                            <span><img src="../assets/images/Air.png" class="img-fluid" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>